/** @format */
.container {
  @media screen and (min-width: 1280px) {
    padding-top: 150px;
  }
}

.container__projects {
  display: flex;
  flex-wrap: nowrap;
}

.list__project {
  @media screen and (min-width: 1280px) {
    width: 250px;
  }
}

.project__title {
  font-size: 14px;
  font-weight: 700;
}

.project__discription {
  font-size: 14px;
}
