/** @format */
.container {
  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1210px;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

.container__projects {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.list__project {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    box-sizing: border-box;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    width: auto;
  }
}

.project__title {
  font-size: 22px;
  font-weight: 500;
  padding: 10px 20px;
  background-color: var(--color-diagram-need);
  color: var(--color-btn);
  border-radius: 10px;
  width: 100%;
  @media screen and (min-width: 1280px) {
    &:hover,
    :focus,
    :active {
      background-color: var(--color-btn);
      color: var(--color-diagram-need);
    }
  }
}

.project__title__active {
  font-size: 22px;
  font-weight: 500;
  padding: 10px 20px;
  background-color: var(--color-btn);
  color: var(--color-diagram-need);
  border-radius: 10px;
  width: 100%;
  @media screen and (min-width: 1280px) {
    &:hover,
    :focus,
    :active {
      background-color: var(--color-diagram-need);
      color: var(--color-btn);
    }
  }
}

.project__discription {
  font-size: 14px;
}
.project__button {
  margin-bottom: 25px;
  font-size: 24px;
}

.project__container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  @media screen and (min-width: 768px) {
    margin: 0;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    text-align: right;
    width: 100%;
  }
}
