/** @format */

.btn__more {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  border: 1px solid var(--color-main-text);
  background-color: var(--color-btn);
  padding: 10px 15px;
  border-radius: 15px;
  &:hover,
  :focus,
  :active {
    color: var(--color-main-background);
    background-color: var(--color-hover-btn);
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
    margin-top: 10px;
    margin-left: auto;
  }
}
