/** @format */

$font-family: "Inter", sans-serif;

@mixin light-theme {
  --color-main-background: #ffffff;

  --color-main-text: #1e1e1e;
  --color-search-title: #4c4545;

  --color-description-text: #32afa9;

  --color-btn: #f8d790;
  --color-diagram-spent: #45f157;
  --color-diagram-need: #3745c8;

  --color-hover-btn: #351177;

  --color-footer-background: #fed001;
}

