/** @format */

.menu__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

.list__menu {
  margin: 0 auto;
  margin-top: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 260px;
  @media screen and (min-width: 768px) {
    width: 550px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 750px;
  }
}

.item__menu {
  margin-top: 15px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 15px;
  }
}

.item__btn {
  box-sizing: content-box;
  margin: 0 auto;
  font-size: 24px;
  background: none;
  color: var(--color-diagram-need);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    &:hover,
    :focus,
    :active {
      transform: scale(1.1);
      color: var(--color--hover-btn);
    }
  }
}
.container__language {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 30px;
  }
}

.language {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 18px;
  padding: 5px 10px;
  background: none;
  border: 1px solid var(--color-main-text);
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    width: 40px;
    font-size: 14px;
    padding: 3px 8px;
    margin-top: 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 50px;
    font-size: 14px;
    &:hover,
    :focus {
      transform: scale(1.1);
      background-color: var(--color-footer-background);
      color: var(--color-diagram-need);
      border: 1px solid var(--color-diagram-need);
    }
  }
}
