/** @format */

.header {
  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and (min-width: 1280px) {
    position: fixed;
    width: 100%;
    background-color: var(--color-main-background);
    opacity: 0.9;
    z-index: 10;
    padding: 0;

    box-shadow: 1px 23px 19px -23px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 1px 23px 19px -23px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 23px 19px -23px rgba(0, 0, 0, 0.64);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  cursor: pointer;
  width: 60px;
  height: 60px;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
  }

  @media screen and (min-width: 1280px) {
    width: 100px;
    height: 100px;
  }
}

.menu {
  @media screen and (min-width: 1280px) {
    width: 100%;
  }
}

.donate {
  animation: animate_pulse 2.5s infinite;
  @media screen and (min-width: 1280px) {
    margin-left: 50px;
    font-size: 22px;
    padding: 5px 10px;
  }
}

@keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(238, 255, 0, 0.4);
  }

  60% {
    box-shadow: 0 0 0 8px rgba(255, 247, 0, 0);
  }
  90% {
    box-shadow: 0 0 0 14px rgba(229, 255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(238, 255, 0, 0);
  }
}
