/** @format */

.header {
  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and (min-width: 1280px) {
    position: fixed;
    width: 100%;
    background-color: var(--color-main-background);
    opacity: 0.9;
    z-index: 10;
    padding: 0;

    box-shadow: 1px 3px 10px 1px rgba(76, 49, 179, 0.28);
    -webkit-box-shadow: 1px 5px 17px 1px rgba(76, 49, 179, 0.28);
    -moz-box-shadow: 1px 5px 17px 1px rgba(76, 49, 179, 0.28);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  cursor: pointer;
  width: 60px;
  height: 60px;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
  }

  @media screen and (min-width: 1280px) {
    width: 100px;
    height: 100px;
  }
}

.menu {
  @media screen and (min-width: 1280px) {
    width: 100%;
  }
}

.donate {
  animation: animate_pulse 2s infinite;
  @media screen and (min-width: 1280px) {
    margin-left: 50px;
    font-size: 22px;
    padding: 5px 10px;
  }
}

@keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(47, 0, 255, 0.276);
  }

  40% {
    box-shadow: 0 0 0 8px rgba(41, 3, 255, 0.021);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
